# Introduzione a R e Quarto {#sec-r-intro}

**Prerequisiti**

- Leggere il capitolo X, *x* di @petersen2024principles. 

**Concetti e Competenze Chiave**

**Preparazione del Notebook**

In [2]:
# Carica il file _common.R per impostazioni di pacchetti e opzioni
here::here("code", "_common.R") |> source()

Caricamento dei namespace richiesti: pacman

## Introduzione

Ci sono moltissime risorse online che offrono un'introduzione a R. Per le funzionalità di base, consiglio [An Introduction to R](https://intro2r.com). Per un'introduzione alle funzionalità del tidyverse, consiglio [Introduction to R with Tidyverse](https://introduction-r-tidyverse.netlify.app).

In questo laboratorio utilizzeremo [Quarto](https://quarto.org), che permette di creare notebook contenenti sia testo che codice. Questo sito web è stato realizzato utilizzando Quarto. Una delle caratteristiche interessanti di Quarto è che consente di utilizzare sia codice R che codice Python nello stesso notebook.

# File `.ipynb` e `.qmd`

Questa pagina è un esempio dell'uso di un file `.ipynb` come documento sorgente. In alternativa, è possibile usare file `.qmd`.


## $\LaTeX$

$$
\theta = \int_0^\infty f(x,\theta)d\theta
$$


## Div stilizzato tramite HTML diretto

::: {.border}
Questo contenuto può essere stilizzato tramite la classe border.
:::

## Un avviso

::: {.callout-tip}
## Suggerimento con Titolo

Questo è un esempio di un avviso con un titolo.
:::

## R

Se usiamo l'argomento `#| output: false`, il codice nella cella R non viene eseguito.

```r
#| output: false

fizz_buzz <- function(fbnums = 1:50) {
    output <- dplyr::case_when(
        fbnums %% 15 == 0 ~ "FizzBuzz",
        fbnums %% 3 == 0 ~ "Fizz",
        fbnums %% 5 == 0 ~ "Buzz",
        TRUE ~ as.character(fbnums)
    )
    print(output)
}

fizz_buzz(3)
```

Di default, invece, il codice inserito in una cella di codice viene eseguito.

In [5]:
fizz_buzz <- function(fbnums = 1:50) {
    output <- dplyr::case_when(
        fbnums %% 15 == 0 ~ "FizzBuzz",
        fbnums %% 3 == 0 ~ "Fizz",
        fbnums %% 5 == 0 ~ "Buzz",
        TRUE ~ as.character(fbnums)
    )
    print(output)
}

fizz_buzz(3)

[1] "Fizz"

Importiamo i dati contenuti in un file .csv:

In [3]:
df <- rio::import(
    "/Users/corradocaudek/_repositories/psicometria/data/penguins.csv"
)

df |> head()

  species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Adelie  Torgersen 39.1           18.7          181               3750
2 Adelie  Torgersen 39.5           17.4          186               3800
3 Adelie  Torgersen 40.3           18.0          195               3250
4 Adelie  Torgersen   NA             NA           NA                 NA
5 Adelie  Torgersen 36.7           19.3          193               3450
6 Adelie  Torgersen 39.3           20.6          190               3650
  sex    year
1 male   2007
2 female 2007
3 female 2007
4 NA     2007
5 female 2007
6 male   2007

Jupyter Notebook offre una grande flessibilità permettendoci di utilizzare diversi linguaggi di programmazione all'interno dello stesso documento. Nelle celle precedenti abbiamo utilizzato R, mentre nella cella successiva abbiamo cambiato contesto, passando a un ambiente Python specifico, attivato manualmente tramite il selettore del kernel in Visual Studio Code.

In [2]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import arviz as az
from pathlib import Path

# Get the home directory
home_directory = os.path.expanduser("~")
# Construct the path to the Quarto project directory
project_directory = os.path.join(home_directory, "_repositories", "psicometria")

file_path = os.path.join(project_directory, "data", "penguins.csv")
dat = pd.read_csv(file_path)

dat.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

Per facilitare l'interoperabilità tra R e Python in uno stesso Jupyter Notebook, è consigliabile serializzare i dati in un formato neutro come il CSV. In pratica, si manipolano i dati in un linguaggio e si salvano i dati intermedi in un file esterno, che può essere facilmente importato nell'altro linguaggio. Questo approccio evita le complessità legate alla gestione diretta degli oggetti tra linguaggi diversi.

## Session Info

In [1]:
sessionInfo()

R version 4.4.1 (2024-06-14)
Platform: aarch64-apple-darwin20
Running under: macOS 15.0.1

Matrix products: default
BLAS:   /Library/Frameworks/R.framework/Versions/4.4-arm64/Resources/lib/libRblas.0.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/4.4-arm64/Resources/lib/libRlapack.dylib;  LAPACK version 3.12.0

locale:
[1] C

time zone: Europe/Rome
tzcode source: internal

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

loaded via a namespace (and not attached):
 [1] digest_0.6.37     IRdisplay_1.1     utf8_1.2.4        base64enc_0.1-3
 [5] fastmap_1.2.0     glue_1.8.0        htmltools_0.5.8.1 repr_1.1.7
 [9] lifecycle_1.0.4   cli_3.6.3         fansi_1.0.6       vctrs_0.6.5
[13] pbdZMQ_0.3-13     compiler_4.4.1    tools_4.4.1       evaluate_1.0.1
[17] pillar_1.9.0      crayon_1.5.3      rlang_1.1.4       jsonlite_1.8.9
[21] IRkernel_1.3.2    uuid_1.2-1